* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}
.bill-body{
    padding:0rem 1rem 1rem 1rem;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}
.bill-body-cover{
    padding:0.8rem 1rem 1rem 1rem;
}
.biling-table{
    width: 100%;
    border-collapse: collapse;
}
.bill-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.company-image img{
    width: 25%;
    height: 25%;
}
.sold-container,.pan-container ,.orderNo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.Shiping-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
}
.h4-heading{
    font-size: 1.1rem;
}
.font-bold{
    font-size: 1rem;
    font-weight: 700;
}
.biling-table tr td{
    border: 2px solid black;
    padding: 0.4rem;
}
.table-head{
    background-color: rgb(184, 184, 184);
    color: #000000;
    font-size: 1rem;
    font-weight:700;
}
.table-description{
    width: 20rem;
}
.goods-col{
    height: 7rem;
}
.authorierzed{
    text-align: right;
    font-size: 1.2rem;
    font-weight: 500;
}
.amount-word{
    font-size: 1.2rem;
    font-weight: 500;
}
.table-total{
    font-size: 1rem;
    font-weight: 500; 
}